# temp files emacs creates
*~
\#*\#
# compiled elisp
*elc
elpa/**
places
/url/cookies
tramp
.smex-items
eshell/**
image-dired/
.DS_Store
/ido.last
/recentf
.gnupg/
.history
.saves/
Adobe/
Foxit Software/
GHISLER/
Greenshot/
Macromedia/
Microsoft/
Mozilla/
Notepad++/
NuGet/
SolidDocuments/
Subversion/
TortoiseSVN/
TurboMeeting/
bin/
