# temp files emacs creates
*~
\#*\#
# compiled elisp
*elc
elpa/**
places
/url/cookies
tramp
.smex-items
eshell/**
image-dired/
.DS_Store
/ido.last
/recentf
.gnupg/
.history
.saves/
Adobe/
Foxit Software/
GHISLER/
Greenshot/
Macromedia/
Microsoft/
Mozilla/
Notepad++/
NuGet/
SolidDocuments/
Subversion/
TortoiseSVN/
TurboMeeting/
bin/
.emacs.d/.emacs.desktop
.emacs.d/.emacs.desktop.lock
.emacs.d/abbrev_defs
.emacs.d/adaptive-wrap/
.emacs.d/csharp-mode/
.emacs.d/dash.el/
.emacs.d/elpa/
.emacs.d/eshell/
.emacs.d/evil-numbers/
.emacs.d/evil/
.emacs.d/find-file-in-project/
.emacs.d/ido.last
.emacs.d/js2-mode/
.emacs.d/obsidian-theme.el
.emacs.d/pomodoro.el/
.emacs.d/recentf
.emacs.d/semanticdb/
.emacs.d/site-lisp/
.emacs.d/solarized.el
.emacs.d/sr-speedbar/
.emacs.d/themes/
.emacs.d/undo-tree/
.emacs.d/url/
.emacs.d/vbnet-mode/
.emacs.d/with-editor/
